<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                   Playalytics
                </a>
            </li>
            <li>
                <h6><a href="#">spotify_user.name</a></h6>
            </li>
            <li>
                <h6><a href="#"></a></h6>
            </li>
            <li>
                <h6><a href="#">Number of Playlists</a></h6>
            </li>
            <li>
                <h6><a href="#">Make Playlist</a></h6>
            </li>
            <li>
                <h6><a href="#">Total Coolness Factor</a></h6>
            </li>
            <li>
                <h6><a href="#"></a></h6>
            </li>
            <li>
                <h6><%#= link_to "Sign out", signout_path %></h6>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="input-group input-group-lg">
				   <span class="input-group-addon">
				      <i class="fa fa-download"></i>
				   </span>
				   <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
				   <input class="form-control input-lg" id="spotify-album-search" name="album[query]" placeholder="Search" type="text" autocomplete="off">
				</div>
            </div>
        </div>
    </div>
</div>

