<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
           <a class="navbar-brand" href="#page-top">
           <i class="fa fa-chevron-circle-right"></i>
           <span>Playalytics</span>
           </a>
       </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="">Login</a>
                </li>
            </ul>
        </div>
   </div>
</nav>


<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Playalytics</h1>
          <p class="intro-text">Giving you the best way to do whatever it is you want to do at any time ever.</p>
            <div class="">
              <%= link_to 'Sign in with Spotify', '/auth/spotify', class: "btn btn-xl" %>
            </div>
        </div>
      </div>
    </div>
   </div> 
</section>